/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#hero {
    height: 120px;
    background: url("/images/portfolio-mobile-compressor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#dark {
    z-index: 0;
}

.about-box {
    background: #fff;
    position: relative;
    z-index: 2;
    width: 100%;
    -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
            transform: translateY(60px);
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.1);
    box-shadow: 0 0 40px rgba(0,0,0,.1);
}

.about-box h1 {
    color: #404040;
    position: relative;
    z-index: 10000;
    font-size: 3em;
    font-weight: 500;
    padding: 20px 50px;
}

body {
	margin: 0;
	padding: 0;
    overflow-y: hidden !important;
}

/*-- -------------------------- -->
<---          GALLERY           -->
<--- -------------------------- -*/

#gallery {
    margin-top: 100px
}

/* Button Toggles */

.button-group {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
}

.commercial-button, .residential-button {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.commercial-button.clicked,
.residential-button.clicked {
    background: var(--primary);
    border: none;
    color: #fff;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

/* Gallery Functionality */
.commercial, 
.residential {
    left: 30px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.commercial.clicked,
.residential.clicked {
    left: 0;
    position: relative;
    visibility: visible;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
}

.gallery {
    height: auto;
    position: relative;
}

.residential {
    width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
}

.gallery img:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 2000px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 20000;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
} 

.modal img {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0 auto !important;
}

.modal i {
    height: auto;
    color: #fff;
    font-size: 1.875em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.modal i:hover {
    cursor: pointer;
    opacity: .6;
}

/* Residential Modals Visibility */

.modal-one,
.modal-two,
.modal-three,
.modal-four,
.modal-five,
.modal-six,
.modal-seven,
.modal-eight,
.modal-nine,
.modal-ten,
.modal-eleven,
.modal-twelve,
.modal-thirteen,
.modal-fourteen,
.modal-fifteen,
.modal-sixteen,
.modal-seventeen,
.moadl-eighteen,
.modal-nineteen,
.modal-twenty,
.modal-twenty-one,
.modal-twenty-two,
.modal-twenty-three,
.modal-twenty-four,
.modal-twenty-five,
.modal-twenty-six,
.modal-twenty-seven,
.modal-twenty-eight,
.modal-twenty-nine,
.modal-thirty,
.modal-thirty-one,
.modal-thirty-two {
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* Resiential Modal Visibility Clicked */

.modal-one.clicked,
.modal-two.clicked,
.modal-three.clicked,
.modal-four.clicked,
.modal-five.clicked,
.modal-six.clicked,
.modal-seven.clicked,
.modal-eight.clicked,
.modal-nine.clicked,
.modal-ten.clicked,
.modal-eleven.clicked,
.modal-twelve.clicked,
.modal-thirteen.clicked,
.modal-fourteen.clicked,
.modal-fifteen.clicked,
.modal-sixteen.clicked,
.modal-seventeen.clicked,
.modal-eighteen.clicked,
.modal-nineteen.clicked,
.modal-twenty.clicked,
.modal-twenty-one.clicked,
.modal-twenty-two.clicked,
.modal-twenty-three.clicked,
.modal-twenty-four.clicked,
.modal-twenty-five.clicked,
.modal-twenty-six.clicked,
.modal-twenty-seven.clicked,
.modal-twenty-eight.clicked,
.modal-twenty-nine.clicked,
.modal-thirty.clicked,
.modal-thirty-one.clicked,
.modal-thirty-two.clicked {
    visibility: visible;
    margin: auto;
    z-index: 2000;
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
}

/* Commercial Modal Visibility */
.c-modal-one,
.c-modal-two,
.c-modal-three,
.c-modal-four,
.c-modal-five,
.c-modal-six,
.c-modal-seven,
.c-moadl-eight,
.c-modal-nine,
.c-modal-ten,
.c-modal-eleven,
.c-modal-twelve,
.c-modal-thirteen,
.c-modal-fourteen,
.c-modal-fifteen,
.c-modal-sixteen,
.c-modal-seventeen,
.c-moadl-eighteen,
.c-modal-nineteen,
.c-modal-twenty,
.c-modal-twenty-one,
.c-modal-twenty-two,
.c-modal-twenty-three {
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* Commercial Modal Visibility Clicked */

.c-modal-one.clicked,
.c-modal-two.clicked,
.c-modal-three.clicked,
.c-modal-four.clicked,
.c-modal-five.clicked,
.c-modal-six.clicked,
.c-modal-seven.clicked,
.c-modal-eight.clicked,
.c-modal-nine.clicked,
.c-modal-ten.clicked,
.c-modal-eleven.clicked,
.c-modal-twelve.clicked,
.c-modal-thirteen.clicked,
.c-modal-fourteen.clicked,
.c-modal-fifteen.clicked,
.c-modal-sixteen.clicked,
.c-modal-seventeen.clicked,
.c-modal-eighteen.clicked,
.c-modal-nineteen.clicked,
.c-modal-twenty.clicked,
.c-modal-twenty-one.clicked,
.c-modal-twenty-two.clicked,
.c-modal-twenty-three.clicked {
    visibility: visible;
    margin: auto;
    z-index: 2000;
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
}

/* Clicked Images */

html.clicked {
    overflow-y: hidden;
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    #gallery {
        width: 100%;
    }

    .gallery {
        padding: 80px 0 0 0px;
        margin-top: 100px;
        width: 100%;
    }

    .residential,
    .commercial {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: auto;
    }

    .residential.clicked,
    .commercial.clicked {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: auto;
    }

    .gallery img {
        width: 50%;
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 0;
    }

    .modal img {
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {

    #hero {
        height: 500px;
        background: url("/images/strip-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
    }

    .about-box {
        width: 700px;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: translateY(250px);
            -ms-transform: translateY(250px);
                transform: translateY(250px);
    }

    .about-box h1 {
        font-size: 3.75em;
        text-align: center;
    }

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    #gallery {
        margin-top: 190px;
    }

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 10px;
        max-width: 1100px;
        margin: 100px auto;
    }

    .gallery img {
        width: 300px;
        margin: 15px;
    }

    .modal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .modal img {
        display: block;
        height: 600px;
        width: auto;
        height: auto;
        margin: auto !important;
    }

}